<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.car4s.app">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.call_phone"/>

    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <application
            android:allowBackup="true"
            android:name=".AppContext"
            android:icon="@mipmap/ic_logo"
            android:theme="@style/AppTheme"
            android:label="@string/app_name">
        <activity
                android:name=".ui.activity.MainTabActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.WebviewActivity"></activity>
        <activity android:name=".ui.activity.LoginActivity"></activity>
        <activity android:name=".ui.activity.ShengqianActivity"></activity>
        <activity android:name=".ui.activity.ResetPwdActivity"></activity>
        <activity android:name=".ui.activity.FeedbackActivity"></activity>
        <activity android:name=".ui.activity.ChoosePositionActivity"></activity>
        <activity android:name=".ui.activity.PayDemoActivity"></activity>
        <activity android:name=".ui.activity.CarBaoyangActivity"></activity>
        <activity android:name=".ui.activity.ChooseCarbrandActivity"></activity>
        <activity android:name=".ui.activity.ChooseCarStyleActivity"></activity>
        <activity android:name=".ui.activity.ProductDetailActivity"></activity>
        <activity android:name=".ui.activity.ChooseStationActivity"></activity>
        <activity android:name=".ui.activity.OrderFinishedActivity"></activity>
        <activity android:name=".ui.activity.EditProfileActivity"></activity>
        <activity android:name=".ui.activity.EditProfile2Activity"></activity>
        <activity android:name=".ui.activity.SelectPhotoActivity"></activity>
        <activity android:name=".ui.activity.SchemeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="jcnalex"/>
            </intent-filter>
        </activity>
        <!--sharesdk -->
        <activity
                android:name="com.mob.tools.MobUIShell"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent100371282"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!--微信分享回调 -->
        <activity
                android:name=".wxapi.WXEntryActivity"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:exported="true"
                android:screenOrientation="portrait"/>
        <!-- alipay sdk begin -->
        <activity
                android:name="com.alipay.sdk.app.H5PayActivity"
                android:configChanges="orientation|keyboardHidden|navigation"
                android:exported="false"
                android:screenOrientation="behind"
                android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <!-- alipay sdk end -->
    </application>

</manifest>
